body {
    background-color: #F5FFFF;
    font-family: "Roboto", sans-serif;
}

a{
    color: #6495ed;
}

.weather-app{
    background: white;
    max-width: 600px;
    margin: 30px auto;
    box-shadow: 0 30px 50px rgba(65, 50, 100, 0.08);
    border-radius: 16px;
    padding: 30px;
}

header{
    border-bottom: 1px solid #F5FFFF;
    padding: 0 0 30px 0;
}

.search-form-input{
    background-color: #F5FFFF;
    border: none;
    border-radius: 6px;
    width: 80%;
    font-size: 16px;
    padding: 15px 20px;
}

.search-form-button{
    background: #6495ed;
    color: white;
    padding: 15px 30px;
    margin-left: 5px;
    border: none;
    border-radius: 6px;
    font-size: 16px;
}

main{
    padding: 30px 0;

}

.weather-app-city{
    margin: 0;
    font-size: 38px;
    line-height: 48px;
}

.weather-app-data{
    display: flex;
    justify-content: space-between;
}

.weather-app-details{
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    color: rgba(39, 33, 66, 0.4);
}

.weather-app-details strong{
    color: #00ced1;
}

.weather-app-temperature{
    display: flex;
}

.temperature-icon{
    font-size: 44px;
    margin-top: 22px;
}

.temperature-value{
    font-size: 88px;
    margin-left: 10px;
}

.temperature-unit{
    margin-top: 16px;
    font-size: 28px;
}

footer{
    border-top: 1px solid #F5FFFF;
    padding: 30px 0 0 0;
    text-align: center;
    font-size: 14px;
    color: rgba(0, 0, 0, 0.6);
}